@model Model.address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city.city1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.city1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.address_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
