@model IEnumerable<Model.address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.district)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city.city1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.district)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city.city1)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.address_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.address_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.address_id })
        </td>*@
    </tr>
}

</table>
