@model Model.city

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>city</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.country1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.country1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.city_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
