@model Model.customer
@using Service;
@{
    Layout = null;
    IStoreService storeService = new StoreService();
    IAddressService addressService = new AddressService();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>customer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Store</label>
                <div class="col-md-10">
                    <select class="form-control" id="store_id" name="store_id">
                        @foreach (var item in storeService.GetAll())
                        {
                            <option value="@item.store_id">@item.address.address1</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">First Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="first_name" name="first_name" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="first_name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="last_name" name="last_name" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="last_name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="email" name="email" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="email" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <select name="address_id" class="form-control" id="address_id">
                        @foreach (var item in addressService.GetAll())
                        {
                            <option value="@item.address_id">@item.address1</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Passsword</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="password" name="password" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
